<style>
    .box {
        background-color: lightgray;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3>Todo Exo</h3>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <% todo.forEach(item => { %>
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="icons float-end">
                                <a href="/view/<%= item.to_do_id %>" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                <a href="/update/<%= item.to_do_id %>" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a href="/delete/<%= item.to_do_id  %>"  class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </div>
                            <h4>ID: <%= item.to_do_id %></h4>
                            <h5><%= item.titre%></h5>
                            <p><%= item.contenu %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="col-lg-4">
            <form action="/create" method="POST">
                <div class="mt-3">
                    <label for="titre">Title:</label>
                    <input type="text" id="titre" name="titre" class="form-control">
                </div>
                <div class="mt-3">
                    <label for="contenu">Content:</label>
                    <textarea name="contenu" id="contenu" class="form-control" rows="10"></textarea>
                </div>
                <div class="mt-3">
                    <button type="submit" class="form-control btn btn-primary">save</button>
                </div>
            </form>
        </div>
    </div>
</div>